<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.article.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.article.entity.Article">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="lastdate" property="lastdate" />
        <result column="cratedate" property="cratedate" />
        <result column="article_key" property="articleKey" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        content AS "content", lastdate AS "lastdate", cratedate AS "cratedate", article_key AS "articleKey", name AS "name", id AS "id"
    </sql>

    <!--查询文章列表-->
    <select id="articleList" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from article
        <if test="condition != null">
            where name like CONCAT('%',#{condition},'%')
        </if>
    </select>

    <!--根据key获取文章-->
    <select id="articleByKey" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from article
        <if test="key != null">
            where article_key = key
        </if>
    </select>

    <select id="customList" resultType="cn.stylefeng.guns.modular.article.model.result.ArticleResult" parameterType="cn.stylefeng.guns.modular.article.model.params.ArticleParam">
        select
        <include refid="Base_Column_List"/>
        from article where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.article.model.params.ArticleParam">
        select
        <include refid="Base_Column_List"/>
        from article where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.article.model.result.ArticleResult" parameterType="cn.stylefeng.guns.modular.article.model.params.ArticleParam">
        select
        <include refid="Base_Column_List"/>
        from article where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.article.model.params.ArticleParam">
        select
        <include refid="Base_Column_List"/>
        from article where 1 = 1
    </select>

</mapper>
